
{cover_enabled, true}.

{erl_opts, [
    debug_info, {parse_transform, lager_transform}
]}.

{erl_first_files, ["src/nkpacket_dispatcher.erl"]}.

{project_plugins, [pc]}.

{overrides,
    [
        {override, jose, [{erl_opts, [debug_info]}]}
    ]}.

{deps, [
    {nklib, {git, "http://github.com/netcomposer/nklib", {branch, "master"}}},
    otters
]}.
